/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    color: blue;
    font-size: 20px;
}

*, *::before, *::after{
	box-sizing: border-box;
	/*outline: 1px solid black;*/
}
.wrap{
	width: 1001px;
	margin: 0 auto;
}
/*.clearfix{
	clear: both;
}*/
/*最上面fb與twitter的連結*/
.link-bar{
	background-color: #f6f6f6;
	display: flex;
	justify-content: end;
	margin: 5px 14px 5px 0;
}
.link-bar a{
	text-decoration: none;
}
.link-bar a:hover{
	text-decoration: underline;
}
.link-bar img{
	float: left;
}
.fb span{
	color: #4460a0;
	border-right: 1px solid #cccccc;
	padding-right: 8px;
}
.twitter span{
	color: #3fb5ed;
}
.twitter img{
	padding-left: 8px;
}

/*表頭*/
.header{
	display: flex;
	justify-content: space-between;
}
h1 a{
	background-image: url(images/HexSchool.png);
    width: 171px;
	height: 36px;
	margin: 8px 0 8px 20px;
	display: block;
	text-indent: 108%;
	white-space: nowrap;
    overflow: hidden;
}
.navbar{
	display: flex;
	margin-top: 17px;
	margin-right: 9px;
}
.navbar>li{
	margin-right: 25px;
	position: relative;
}
.navbar>li:last-of-type{
	margin-right: 0;
}
.navbar-link, .dropmenu a{
	display: block;
	color: #00cc99;
    text-decoration: none;
}
.navbar-link{
	padding: 0px 11px 17px 11px;
}
.dropmenu{
	display: none;
	position: absolute;
	z-index: 2;
}
.dropmenu a{
	width: 86px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #ffffff;
	text-align: center;
}
.navbar-link:hover, .dropdown a:hover{
	border-bottom: 3px solid #00cc99;
}
.navbar-link:focus, .dropdown a:focus{
	color: purple;
	border-bottom: 3px solid purple;
}

/*"六角學院，讓您奠定良好的前端基礎"，banner的swiper設定*/
/*.swiper, .swiper-slide img{
	width: 1001px;
	height: 346px;
}*/
/*表中：HTML 5基礎教學，響應式網站設計，jQuery實戰教學介紹*/
.content-courses{
	padding: 62px 19px;
	display: flex;
	justify-content: space-between;
}
.col-html5, .col-RWD, .col-jQuery{
	width: 300px;
	text-align: center;
	padding: 0 19px 24px;
	box-shadow: 0px 4px 5px #dbdbdb;
}
.col-html5, .col-RWD{
	margin-right: 28px;
}
.col-html5 img{
    margin: 24px 0 13px;
}
.col-RWD img{
	margin: 43px 0 48px;
}
.col-jQuery img{
	margin: 32px 0 22px;
}
.content-courses h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 13px;
}
.content-courses p, .col-jQuery h4, .col-jQuery li{	
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
}
.col-jQuery ul{
	list-style-type: disc;
	margin-left: 15px;
}
.lightboxOverlay {
	background-color: #00cc99;
  }
/*表中：線上與實體課程的差異*/
.content-list{
	padding: 62px 82px;
}
.content-list h3{
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}
.content-list th{
	font-weight: 600;
	text-align: left;
	background-color: #f7f7f7;
	padding: 10px 100px 10px 25px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.content-list td{
	padding: 10px 0 10px 25px;
    border-bottom: 1px solid #dddddd;
}
.accent{
	color: #00cc99;
}
/*表中：留下學員資料*/
.content-msg{
	background-image: url(images/bg2.png);
	padding: 30px 20px;
}
.content-msg h3{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 20px;
}
.content-msg form{
	display: flex;
}
.content-msg textarea{
	width: 460px; 
	resize: none;
	margin-right: 40px;
}
.content-msg div{
	width: 460px;
	padding-bottom: 30px;
	position: relative;
}
.content-msg label, .button{
	color: #ffffff;
}
.input-msg{
	padding: 8px;
	margin: 3px 0 15px;
	display: block;
	width: 460px;
}
.input-msg:focus{
	border: 3px solid #cccccc;
}
.button{
	width: 70px;
	padding: 5px 0;
	background-color: #00cc99;
	font-size: 15px;
    position: absolute;
	right: 0;
	bottom: 0;
}
.button:hover{
	border-radius: 20px;
}
/*表尾*/
.footer{
	padding: 26px 15px 55px 21px;
	display: flex;
	justify-content: space-between;
}
h2 a{
	background-image: url(images/使用html做網站-_19.png);
	width: 170px;
	height: 36px;
	display: block;
	text-indent: 101%;
    white-space: nowrap;
	overflow: hidden;
}
.footer li{
	line-height: 1.5;
}
.footer span{
	color: #5d5d5d;
}
.footer li a{
	color: #e12d80;
	text-decoration: none;
}
.footer li a:hover{
	text-decoration: underline;
}
.footer li a:focus{
	color: purple;
	border-bottom: 1px solid purple;
}
/**/
.top-arrow{
	position: fixed;
	right: 0;
	bottom: 0;
}